<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">TODO App - Node.js</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" target="_blank"
              href="https://github.com/ryohei0109-develop/nodejs-todo-app">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
